*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.echartsContainer{
  width: 100vw;
  height: 100vh;
}
.controllerContainer{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.controllerContainer > div {
  margin-left: 10px;
  padding: 4px  25px;
  border: 1px solid rgb(33, 127, 255);
  border-radius: 10px;
  cursor: pointer;
}
.titleContainer{
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}